/* Общие стили**/
body {
    padding: 0;
    margin: 0;
    font-size: 2vh;
    user-select: none;
    -webkit-user-select: none;
}

input {
    font-size: 2vh;
    box-shadow: 0 0 2px gray;
    border-bottom: 1px solid gray;
}

button {
    font-size: 2vh;
}

/**СТИЛИ ИЗМЕНЕНИЯ ФОРМЫ И ЭЛЕМЕНТОВ ФОРМЫ**/

.moving-form {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    background: #d3d3d380;
}

.moving-form__closed {
    width: auto;
    height: auto;
    position: absolute;
    top: 2vh;
    right: 10vw;
    cursor: pointer;
}

.moving-form__settings {
    width: 100px;
    position: absolute;
    right: 5vw;
    top: 10vh;
    z-index: 1000000;
}

.moving-form__settings .moving-form__settings-header {
    height: 10px;
    background: #84cec1;
    cursor: pointer;
    transition: .1s linear;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.moving-form__settings .moving-form__settings-header:active {
    cursor: grabbing;
}

.moving-form__settings .moving-form__settings-header:hover {
    height: 30px;
}


.moving-form__settings .moving-form__settings-body {
    display: flex;
    flex-wrap: wrap;
}

.moving-form__settings .moving-form__settings-body > div {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.moving-form__settings .moving-form__settings-body .el {
    position: absolute;
    /*width: 50px;*/
    /*height: 50px;*/
    top: 0;
    right: -50px;
    box-shadow: 0 0 2px gray;
}

.moving-form__settings .moving-form__settings-body .el span > input {
    position: absolute;
    left: -50px;
    top: 10px;
}

.moving-form__settings .moving-form__settings-body > div > input {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
}


.moving-form__closed > span {
    font-size: 5vh;
    color: white;
}

/*СТИЛИ МОДАЛЬНОГО ОКНА**/

.window-modal {
    width: 100vw;
    height: 100vh;
    background: #d3d3d380;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999998;
}

.modal {
    position: absolute;
    top: 30vh;
    left: 30vw;
    width: 30vw;
    height: 40vh;
    display: none;
    z-index: 9999999;
    justify-content: center;
    align-items: center;
}

.modal-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 0 2px white;
    position: relative;
    animation: addModal .4s ease-in-out forwards;
}

.modal-body__body {
    width: 70%;
    margin: -4% 15% 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 3vh;
    text-indent: 2vw;
}

.modal-body__footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 2vh;
    font-size: 130%;
    cursor: pointer;
}

.modal-body__footer #forwardsText {

}

.modal-body__closed {
    position: absolute;
    right: 2vw;
    top: 2vh;
    cursor: pointer;
    transition: .4s;
}

.modal-body__closed:hover {
    transform: rotate(180deg);
}

.modal-body__closed > span {
    font-size: 4vh;
    color: #ffffff;
}

.modal-body__header {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    background: #00ffc0;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
}

.modal-body__header > span:nth-child(1) {
    margin-left: 3vw;
    font-size: 3vh;
    letter-spacing: 0.7vh;
}

/** Стили рабочих зон*/
.constructor {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f6f3f3;
}

/**Стили шапки*/
.constructor__header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: end;
}

.constructor__header > div:nth-child(1) {
    width: 30%;
}

.constructor__header > div:nth-child(2) {
    width: 70%;
}

.constructor__header > div:nth-child(2) > div {
    width: 90%;
    margin-left: 5%;
    display: flex;
    overflow: auto;
}

.constructor__header > div:nth-child(2) > div > div {
    margin-right: 1%;
    padding: 1%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 2px lightgray;
}

.constructor__header > div .user-forms {
    height: 10%;
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 4% 5%;
    margin-bottom: 1%;
    margin-left: 15%;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0 2px 3px gray;
    pointer-events: none
}

.user-forms span:nth-child(1) {
    margin-right: 5%;
    font-size: 3vh;
}

.constructor__header .user-forms:hover {

}


/*Стили тела*/
.constructor__body {
    width: 100%;
    height: 90%;
    display: flex;
    overflow: hidden;
}

/* СТИЛИ ДЛЯ БЛОКА НАСТРОЙКИ ЭЛ. ФОРМ */
.constructor__body-settings {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 2% 0;
    margin-right: -30%;
    transition: .2s;
}

.constructor__body-settings__zone {
    width: 100%;
    height: 90%;
    box-shadow: 0 0 2px gray;
    position: relative;
}

.settings__zone__header {
    height: 20%;
    display: flex;
}

.settings__zone__header div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 12.5%;
    font-size: 3vh;
}

.settings__zone__body {
    width: 75%;
    margin-left: 12.5%;
}

.settings__zone__body > div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.settings__zone__body input {
    border: none;
    padding: 3% 5%;
}

.settings__zone__body ul {
    padding: 0;
    list-style: disclosure-open;
}

.list-options {
    font-size: 14px;
    margin-left: 12px;
    cursor: pointer;
}

.settings__zone__body > div > div:nth-child(2) {
    margin-left: 5%;
}

.settings__zone__body > div > div:nth-child(1) {
    display: flex;
}

.settings__zone__body > div > div:nth-child(1) span:nth-child(1) {
    margin-right: 7%;
}

.settings__zone__footer {
    height: 20%;
}

.settings-closed {
    position: absolute;
    top: 2vh;
    right: 2vw;
    cursor: pointer;
    font-size: 4vh;
    color: lightgray;
}


.constructor__body-element {
    width: 30%;
    height: 100%;
    padding: 2% 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
}

.body-but {
    height: 10%;
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2% 5%;
    margin-bottom: 1%;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 2px 3px gray;
}

.body-but:hover {
    background: #a9c8d21a;
}

.body-but:active {
    box-shadow: 0 0 2px gray;
}

.body-but > span:nth-child(1) {
    margin-right: 7%;
    font-size: 3vh;
    color: #121447;
}

.constructor__body-zone {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 2% 0;
    box-sizing: border-box;
}

.constructor__body-zone-form {
    width: 90%;
    height: 90%;
    position: relative;
    background: #ffffff;
    box-shadow: 0 0 3px gray;
}

.header-form {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid green;
    position: relative;
}

.header-form .save-form {
    position: absolute;
    right: 3%;
    top: 30%;
    font-size: 3vh;
    cursor: pointer;
}

.header-form__settings {
    width: auto;
    position: absolute;
    left: 5%;
    cursor: pointer;
    white-space: nowrap;
}

.header-form__settings > h1 {
    margin: 0;
}


/*СТИЛИ для АВТАРА*/

#avatar {
    max-width: 200px;
    max-height: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    z-index: 10000;
    position: absolute;
    box-shadow: 0 2px 3px gray;
    background: #00ffc0;
}

/*СТИЛИ ДЛЯ ДОБАВЛЕННОГО ЭЛЕМЕНТА ФОРМЫ**/

.header > .new-el-form__header {
    justify-content: center;
    margin: 0;
    font-size: 4vh;
}

.header > .new-el-form__header > .h > input {
    border: none;
    box-shadow: none;
    background: none;
    padding: 5% 2%;
}

.new-el-form {
    max-height: 300px;
    height: auto;
    width: 150px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    box-sizing: border-box;
    /*box-shadow: 0 0 2px #3a5084;*/
    cursor: pointer;
}

.constructor__body-zone-form .checkbox, .constructor__body-zone-form .radio {
    width: 5%;
    height: 8%;
}

.new-el-form > .switches-header {
    width: 100%;
    height: 100%;
}

.new-el-form:hover {
    /*box-shadow: 0 0 2px #3a5084*/
}

.new-el-form:hover .new-el-form__header {
    border-top-left-radius: 2%;
    border-top-right-radius: 10%;
    background: #00ffc0;
}

.type-header {
    padding: 5% 15%;;
}

.new-el-form__header {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 7% 0;
    box-sizing: border-box;
}


.new-el-form__header > span:nth-child(1) {
    padding: 4%;
}

.new-el-form__header > span:nth-child(2) {
    margin-right: 4%;
}

.new-el-form__body {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.new-el-form__body-icons {
    position: absolute;
    top: 0;
    left: 1vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #12145a;
}

.new-el-form__body-icons-pass {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5% 5% 5% 0;
    color: #12145a;
}

.new-el-form__body > input {
    width: 70%;
    border: none;
    padding: 5% 15%;
}

.type-submit {
    width: 100% !important;
    background: #ffffff;
    box-shadow: 0 2px 3px gray;
    cursor: pointer;
}

.type-submit:hover {
    background: #f0f0f0;
}

.type-submit:active {
    box-shadow: 0 0 2px gray;
    background: #f0f0f0;
}

.new-el-form__body > select {
    width: 90%;
    border: none;
    padding: 5%;
    box-shadow: 0 0 2px gray;
}


@keyframes addModal {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes closedModal {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(.9);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0);
    }
}

